<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">JAVA CS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= active=='home'?'active':'' %>" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= active=='years'?'active':'' %>" href="/year">Year-wise Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= active=='extra'?'active':'' %>" href="/extras">Extras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= active=='all'?'active':'' %>" href="/all">All Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= active=='about'?'active':'' %>" href="/about">About</a>
          </li>
        </ul>
        <form action="/search" method="get" class="d-flex" role="search">
          <input class="form-control me-2" name="query" type="search" placeholder="Search for programs..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
