<!DOCTYPE html>
<html>
  <head>
    <title><%= program.name %></title>
    <%- include("common") %>
    <link rel="stylesheet" href="/css/prism.css">
    <script src="/js/prism.js"></script>
  </head>
  <body>
    <%- include('navbar') %>

    <div class="card mx-auto border-dark my-4" style="width: 85%;">
      <h5 class="card-header  d-flex justify-content-between align-items-center" style="flex-direction: column;"><%- program.name.replace(/\\n/g, '<br>') %>
        <% if (program.img!=null) {%>
          <a href="/questions/<%=program.img%>" target="_blank">
            <span class="mt-2 badge bg-primary rounded-pill">
              Click Here to View Question
            </span>
          </a>
        <% } %>
      </h5>
      <div class="card-body">
        <h5 class="card-title"><pre><code class="language-java"><%= solution %></code></pre></h5>
        <p class="card-text"><%-program.years.length>0?`Question asked in ISC ${program.years.join(", ")} `:"Extra Question"%></p>
      </div>
    </div>
  </body>
</html>

