<!DOCTYPE html>
<html>
  <head>
    <title>Programs: <%= year %></title>
    <%- include("common") %>
  </head>
  <body>
    <%- include('navbar') %>
    <div class="mx-auto my-4" style="width: 85%">
      <h4>Programs asked in the year <%- year %></h4>
      <ul class="list-group mx-auto">
         <% ID.map((id, index)=>{
            let program = programs.find((program)=>program.id==id); %>
            <a class="link-dark text-decoration-none" href="/program/<%=id%>">
            <li class="list-group-item d-flex justify-content-between align-items-center  <%- index%2==0?'bg-body-tertiary':''%>">
            <%- program.name.replace(/\\n/g, "<BR>") %>
            </li>
            </a>
        <% }) %>
      </ul>
    </div>
    <ul>
       
    </ul>
  </body>
</html>